<h1 class="text-center text-5xl text-orange-500 my-20 font-bold">Edit Blog Post</h1>
<%= render partial: "form", locals: {blog_post: @blog_post} %>
<div  class="inline-block rounded border border-red-600 px-12 py-3 text-sm font-medium text-red-600 hover:bg-gray-100 focus:outline-none focus:ring active:bg-indigo-500 mb-20 w-1/5 " >
    <%= button_to 'Delete', @blog_post, method: :delete, data: {turbo_confirm: "Are you sure?"}%>
</div>